.searchContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 20px;
}

.inputContainer {
  position: relative;
}

.searchInput {
  align-items: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  background: rgba(255, 192, 203, 0.05);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  max-width: 300px;
}

.clearIcon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
}